.heading{
    padding-left:450px }
.links{
    padding-left:680px ;font-size: large;
}
.fastfood{
    padding-left:700px ;
}
.img{
    padding-left:435px ;
}
.button{
    padding-left:755px ;
}
.burgerimg{
    padding-left: 450px;
}
.pizzaimg{
    padding-left: 450px;
}
.table{padding-left:660px ;}

.form{
    padding-left: 710px;
}
.send{
    padding-left: 780px;
}

















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































     










































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































